spring:
  application:
    name: nucleus-pass

  datasource:
    url: jdbc:postgresql://localhost:5432/nucleus_pass
    username: username
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true
